streamlit
duckdb==0.10.2
pandas
openpyxl
numpy==1.26.4
sentence-transformers
bs4
crawl4ai                    # for crawling
playwright>=1.45.0          # for crawling
mistletoe                   # for markdown parsing
tiktoken                    # for tokenizing
spacy==3.7.4                # for sentence splitting
thinc==8.2.5                # for sentence splitting    
openai
pinecone-client>=2.2.0
snowflake-connector-python
plotly                      # for visualization    